* {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #EEEEEE;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: x-large;
}

.h2titulo {
    font-size: 2.7em;
}

h3 {
    font-size: 1.5em;
    padding: 0.6em;
    margin-left: 2em;
}
.h3plana {
    font-weight: lighter;
}

p {
    text-align: justify;
    padding-bottom: 2em;
    margin-left: 3em;
}

main {
    max-width: 200em;
}

main>* {
    background-color: #EEEEEE;
    padding-left: 15%;
    padding-right: 15%;
}

#subidopor>a {
    color: #c00;
    text-decoration: none;
}

#subidopor>a:hover {
    color: #222222;
}

figure {
    text-align: center;
}

#logo {
    text-align: left;
}

#logo>img {
    width: 15em;
}

p {}

iframe {
    width: 45em;
    height: 30em;
}

img {
    width: 45em;
}

#subidopor {
    color: #222222;
}

.imagetext {
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    margin-bottom: 2em;
}

.imagetext>a {
    color: #222222;
    text-decoration-line: none;

}

a:hover {
    color: #c00;
    text-decoration: underline;
}

#hook {
    border-top: 0.2em solid #DDDDDD;
    border-bottom: 0.2em solid #DDDDDD;
    line-height: 1.5em;
    margin-left: 5em;
    margin-right: 5em;
    text-align: justify;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
}

header {
    background-color: black;
    margin: 0px;
    padding: 0px;
    padding-left: 10%;
}

header>h1 {
    color: white;
}

figure {
    padding: 0px;
    margin: 0px;
}

header>figure>img {
    height: 4em;
}

.nav {
    height: 50px;
    padding-top: 0em;
    margin-top: 0%;
    margin-bottom: 0.5em;
    box-shadow: 0 0 0.5em rgba(83, 83, 83, 0.5);
}

nav>ul {
    padding-top: 1em;
    height: auto;
    text-align: center;

}

nav>ul>li {
    vertical-align: center;
    list-style-type: none;
    display: inline;
    margin-left: 2em;
}

.navlink {
    color: #222222;
    text-decoration-line: none;
}

nav>ul>li:hover {
    text-decoration-line: underline;
    text-decoration: #c00;
    border-bottom: 3px #c00;
}

#activelink {
    padding-bottom: 0.2em;
    border-bottom: solid #c00;
}

#ferran {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 50%;
    text-align: center;
}

.roundimg {
    text-align: right;
    vertical-align: middle;
}

#ferran>div {
    vertical-align: middle;
    margin: auto;
    margin-bottom: auto;
}

#ferran>div>p {
    vertical-align: middle;
}

.roundimg>img {
    height: 8em;
    width: 8em;
    border-radius: 100%;
    vertical-align: middle;
}


#bottomline>a {
    color: #c00;
    text-decoration: none;
}

#bottomline>a:hover {
    color: #3b3b3b;
}

#bottomline {
    text-align: center;

}

footer {
    color: #FFFFFF;
    background-color: #3b3b3b;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0px;
    padding-left: 15em;
}

footer>figure {
    text-align: left;
}

footer>figure>img {
    height: 2em;
    width: 8.8em;
}